extends layout

block content
  h1= title
  #tweet-container

  script.
    var socket = io()
    //- socket.on('connect', function() {
    //-   console.log('Connected!')
    //- })
    socket.on('tweets', function(tweet) {
      //console.log(tweet)
      var html = '<div><img src="' + tweet.user_profile_image + '" /><div>' + tweet.name + ' @' +tweet.screen_name + ' ' + tweet.text + '</div>'

      $('#tweet-container').prepend(html)
    })

