html
  head
    title Twitter Feeds
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href='https://fonts.googleapis.com/css?family=Lato:400,300,700', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
  body
    block content
    script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.js")
    script(type="text/javascript" src="/socket.io/socket.io.js")
    script(type="text/javascript" src="js/app.js")


