:focus {
  outline: none;
}

body {
  width: 70%;
  margin: 10% auto 0 auto;
  text-align: center;
  color: #333;
  font-family: 'Lato', sans-serif;
}

h1 {
  text-transform: capitalize;
}

input[type~="submit"] {
  border: 1px solid gray;
  background-color: transparent;
  border-radius: 0;
  padding: .55em;
  font-size: 1em;
  -moz-transition: all ease .2s;
  -webkit-transition: all ease .2s;
  -o-transition: all ease .2s;
  transition: all ease .2s;
}

input[type~="submit"]:hover {
  background: #eee;
}

#user-search {
  padding: 1em;
  border: 1px solid gray;
  background-color: transparent;
}

.tweet-wrapper {
  padding: 1.5em;
  background: #eee;
  border-bottom: 1px solid gray;
}

.profile-image {
}

.profile-image img {
  height: auto;
  width: 10%;
}

.user-name {
  margin: 0 auto;
}

.user-handle {
  margin: 0 auto 1% auto;
}

.tweet-text {
  width: 50%;
  margin: 0 auto;
  font-weight: 300;
}
